body {
  /*background-color: #111;
  color: white;*/
  font-family: monospace;
}

a {
  color: #FEE000;
  font-weight: 600;
  text-decoration: none;
}

#main-container {
  padding-top: 15vh;
  margin-bottom: 20vh;
}

#main-container > header {
  margin-bottom: 3.6em;
}

/* HOME */

#main-container > header > h1 {
  text-align: center;
}

#content > .posts-list {
  margin: 0 auto;
  max-width: 35em;
  list-style: none;
}

#content ul > li {
  margin-bottom: 1.7em;
}

#content .posts-list li .post-preview {
  padding-left: 1em;
}

/* POST */

header a {
  text-align: center;
}

#content > h2 {
  text-align: center;
  margin-bottom: 1.7em;
}

#content > .post {
  margin: 0 auto;
  max-width: 35em;
}